@import "tailwindcss";

body {
  font-family: 'Quicksand', 'Inter', sans-serif;
  background-color: #FFFEFA;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #F2EEE6;
  border-radius: 10px;
}
